@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-2xl border border-stone-300 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-orange-400 md:px-6 md:py-3;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.formField {
  @apply block w-full my-4 h-9 pl-3 rounded;
}

.chatModal {
  @apply fixed left-1/2 top-1/2 w-5/6 -translate-x-1/2 -translate-y-1/2 transform xs:w-4/6 sm:w-3/5 md:w-2/5 lg:w-2/6;
}

.chatModalOverlay {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50;
}

.chatAvatarContainer {
  @apply flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full bg-indigo-500;
}

.modalCloseButton {
  @apply mx-auto disabled:bg-gray-800 hidden w-3/5 rounded-lg bg-black py-1 text-primary-400 hover:bg-gray-800 xs:me-1 xs:ms-auto xs:block;
}

.modalActionButton {
  @apply mx-auto disabled:bg-gray-800 w-3/5 rounded-lg bg-black py-1 text-green-400 hover:bg-gray-800 xs:me-auto xs:ms-1;
}

.recipeInfo {
  @apply text-lg text-primary-900 font-extrabold;
}

/* ::-webkit-scrollbar {
  width: 5px;
}

::-moz-scrollbar {
  width: 5px;
} */
